# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment
.env

# Data & Models
data/raw/*
data/training/*
data/results/*
training/models/*
!**/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/